    <!-- Category Model Start-->
  <div id="category_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog" aria-modal="false" style="max-width: 100%;">
        <div class="modal-dialog category-area" role="document">
            <div class="category-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close" style="color: #000 !important;">
            <i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="category-model-content modal-content"> 
                  <div class="cate-header" style="background-color:  #fff; color: #000;">
                    <h4>Categorías</h4>
                  </div>
                  <ul class="category-by-cat">
                    <li (click)="filter('hortalizas')">
                      <a  class="single-cat-item bs-canvas-close" data-dismiss="modal">
                        <div class="icon ">
                          <img src="assets/assetssuper/images/category/icon-1.svg" alt="frutme" >
                     
                        </div>
                        <div class="text" style="color:#f55d2c;" [hidden]="this._uw.categorySelected!='hortalizas'"> Frutas y Hortalizas </div>
                        <div class="text" [hidden]="this._uw.categorySelected=='hortalizas'"> Frutas y Hortalizas </div>
                      </a>
                    </li>
                     <li (click)="filter('carnes')">
                      <a  class="single-cat-item bs-canvas-close" data-dismiss="modal">
                        <div class="icon">
                          <img src="assets/assetssuper/images/category/icon-10.svg" alt="frutme">
                        </div>
                        <div class="text" style="color:#f55d2c;" [hidden]="this._uw.categorySelected!='carnes'"> Carnes y Embutidos </div>
                          <div class="text" [hidden]="this._uw.categorySelected=='carnes'"> Carnes y Embutidos </div>
                      </a>
                    </li>
                    <li>
                    <li (click)="filter('viveres')">
                      <a  class="single-cat-item bs-canvas-close" data-dismiss="modal">
                        <div class="icon">
                          <img src="assets/assetssuper/images/category/icon-2.svg" alt="frutme">
                        </div>
                        <div class="text" style="color:#f55d2c;"[hidden]="this._uw.categorySelected!='viveres'"> Víveres </div>
                         <div class="text" [hidden]="this._uw.categorySelected=='viveres'"> Víveres </div>
                      </a>
                    </li>
                    <li (click)="filter('lacteos')"> 
                      <a  class="single-cat-item bs-canvas-close" data-dismiss="modal">
                        <div class="icon">
                          <img src="assets/assetssuper/images/category/icon-7.svg" alt="frutme">
                        </div>
                        <div class="text" style="color:#f55d2c;"[hidden]="this._uw.categorySelected!='lacteos'"> Huevos y lácteos </div>
                         <div class="text" [hidden]="this._uw.categorySelected=='lacteos'"> Huevos y lácteos </div>
                      </a>
                    </li>
                    <li (click)="filter('bebidas')">
                      <a  class="single-cat-item bs-canvas-close" data-dismiss="modal">
                        <div class="icon">
                          <img src="assets/assetssuper/images/category/icon-3.svg" alt="frutme">
                        </div>
                        <div class="text"style="color:#f55d2c;"[hidden]="this._uw.categorySelected!='bebidas'"> Bebidas y licores </div>
                         <div class="text"[hidden]="this._uw.categorySelected=='bebidas'">Bebidas y licores </div>
                      </a>
                    </li>
                    <li (click)="filter('postres')">
                      <a  class="single-cat-item bs-canvas-close" data-dismiss="modal">
                        <div class="icon">
                          <img src="assets/assetssuper/images/category/icon-5.svg" alt="frutme">
                        </div>
                        <div class="text"style="color:#f55d2c;" [hidden]="this._uw.categorySelected!='postres'"> Postres </div>
                        <div class="text" [hidden]="this._uw.categorySelected=='postres'"> Postres </div>
                      </a>
                    </li>
                    <li (click)="filter('limpieza')">
                      <a  class="single-cat-item bs-canvas-close" data-dismiss="modal">
                        <div class="icon">
                          <img src="assets/assetssuper/images/category/icon-6.svg" alt="frutme">
                        </div>
                        <div class="text" style="color:#f55d2c;"[hidden]="this._uw.categorySelected!='limpieza'"> Aseo y limpieza </div>
                        <div class="text" [hidden]="this._uw.categorySelected=='limpieza'"> Aseo y limpieza </div>
                      </a>
                    </li>
                    <li (click)="filter('panaderia')">
                      <a  class="single-cat-item bs-canvas-close" data-dismiss="modal">
                        <div class="icon">
                          <img src="assets/assetssuper/images/category/icon-11.svg" alt="frutme">
                        </div>
                        <div class="text" style="color:#f55d2c;"[hidden]="this._uw.categorySelected!='panaderia'"> Panadería </div>
                         <div class="text" [hidden]="this._uw.categorySelected=='limpieza'"> Panadería </div>
                      </a>
                    </li>
                    <li (click)="filter('aseopersonal')">
                      <a  class="single-cat-item bs-canvas-close" data-dismiss="modal">
                        <div class="icon">
                          <img src="assets/assetssuper/images/category/icon-8.svg" alt="frutme">
                        </div>
                        <div class="text" style="color:#f55d2c;"[hidden]="this._uw.categorySelected!='aseopersonal'"> Aseo Personal </div>
                          <div class="text" [hidden]="this._uw.categorySelected=='aseopersonal'"> Aseo Personal </div>
                      </a>
                    </li>
                    <li (click)="filter('mascotas')">
                      <a  class="single-cat-item bs-canvas-close" data-dismiss="modal">
                        <div class="icon">
                          <img src="assets/assetssuper/images/category/icon-9.svg" alt="frutme">
                        </div>
                        <div class="text"style="color:#f55d2c;"[hidden]="this._uw.categorySelected!='mascotas'"> Mascotas </div>
                         <div class="text"[hidden]="this._uw.categorySelected=='mascotas'"> Mascotas </div>
                      </a>
                    </li>
                  </ul>

                </div>
            </div>
        </div>
    </div>
  <!-- Category Model End-->

    <!-- Currency Model Start-->
  <div id="currency_model" class="header-cate-model main-gambo-model modal fade" tabindex="-1" role="dialog" aria-modal="false">
        <div class="modal-dialog currency-area" role="document">
            <div class="currency-area-inner">
                <div class="modal-header">
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close" style="color: #000 !important; ">
                     <i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="currency-model-content modal-content"> 
                    <div class="cate-header" style="background-color:  #fff; color: #000;">
                      <h4>Seleccione divisa</h4>
                    </div>
                    <ul class="currency-by-cat">
                      <li >
                        <a class="single-cat-item bs-canvas-close" data-dismiss="modal" (click)=setBs()>
                          <div class="icon">
                            <img src="assets/assetssuper/images/category/vef.svg" alt="frutme">
                          </div>
                          <div class="text"> Bolivares Soberanos </div>
                        </a>
                      </li>
         
                      <li >
                        <a  class="single-cat-item bs-canvas-close" data-dismiss="modal" (click)=setUsd()>
                          <div class="icon">
                            <img src="assets/assetssuper/images/category/usd.svg" alt="frutme">
                          </div>
                          <div class="text"> Dolar Estadounidense </div>
                        </a>
                      </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
  <!-- Category Model End-->

 
  <!-- Cart Sidebar Offset Start-->
  <div class="bs-canvas bs-canvas-left position-fixed bg-cart h-100">
    <div class="bs-canvas-header side-cart-header p-3 ">
      <div class="d-inline-block  main-cart-title">Mi Carrito <span>(2 productos)</span></div>
      <button type="button" class="bs-canvas-close close" aria-label="Close"><i class="uil uil-multiply"></i></button>
    </div> 
    <div class="bs-canvas-body">
      <div class="cart-top-total">
        <div class="cart-total-dil">
          <h4>Cago por sobrepeso
          </h4>
          <span>$1</span>
        </div>
        <div class="cart-total-dil">
          <h4>Moneda: 
          </h4>
        <span [hidden]="_uw.currency!=1">BsS.</span>
          <span [hidden]="_uw.currency==1">USD ({{1/_uw.currency |  number:'1.0-2'}} BsS.)</span>
        </div>
        <div class="cart-total-dil pt-2">
          <h4>Cargos por Delivery</h4>
          <span>0</span>
        </div>
      </div>
      <div class="side-cart-items">
        <div class="cart-item bs-canvas-close" data-dismiss="modal">
          <div class="cart-product-img">
            <img src="assets/assetssuper/images/product/img-1.jpg" alt="frutme">
            <div class="offer-badge">6% MENOS</div>
          </div>
          <div class="cart-text">
            <h4>Product Title Here</h4>
            <div class="cart-radio">
              <ul class="kggrm-now">
                <li>
                  <input type="radio" id="a1" name="cart1">
                  <label for="a1">0.50</label>
                </li>
                <li>
                  <input type="radio" id="a2" name="cart1">
                  <label for="a2">1kg</label>
                </li>
                <li>
                  <input type="radio" id="a3" name="cart1">
                  <label for="a3">2kg</label>
                </li>
                <li>
                  <input type="radio" id="a4" name="cart1">
                  <label for="a4">3kg</label>
                </li>
              </ul>
            </div>
            <div class="qty-group">
              <div class="quantity buttons_added">
                <input type="button" value="-" class="minus minus-btn">
                <input type="number" step="1" name="quantity" value="1" class="input-text qty text">
                <input type="button" value="+" class="plus plus-btn">
              </div>
              <div class="cart-item-price">$10 <span>$15</span></div>
            </div>
            
            <button type="button" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
          </div>
        </div>
        <div class="cart-item bs-canvas-close" data-dismiss="modal">
          <div class="cart-product-img">
            <img src="assets/assetssuper/images/product/img-2.jpg" alt="frutme">
            <div class="offer-badge">6% MENOS</div>
          </div>
          <div class="cart-text">
            <h4>Product Title Here</h4>
            <div class="cart-radio">
              <ul class="kggrm-now">
                <li>
                  <input type="radio" id="a5" name="cart2">
                  <label for="a5">0.50</label>
                </li>
                <li>
                  <input type="radio" id="a6" name="cart2">
                  <label for="a6">1kg</label>
                </li>
                <li>
                  <input type="radio" id="a7" name="cart2">
                  <label for="a7">2kg</label>
                </li>
              </ul>
            </div>
            <div class="qty-group">
              <div class="quantity buttons_added">
                <input type="button" value="-" class="minus minus-btn">
                <input type="number" step="1" name="quantity" value="1" class="input-text qty text">
                <input type="button" value="+" class="plus plus-btn">
              </div>
              <div class="cart-item-price">$24 <span>$30</span></div>
            </div>  
            <button type="button" class="cart-close-btn"><i class="uil uil-multiply"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="bs-canvas-footer">
      <div class="cart-total-dil saving-total ">
        <h4>Total cargos</h4>
        <span>$1</span>
      </div>
      <div class="main-total-cart">
        <h2>Total</h2>
        <span>$35</span>
      </div>
      <div class="checkout-cart">

        <a href="#" class="cart-checkout-btn hover-btn">Prcesar compra</a>
      </div>
    </div>
  </div>
  <!-- Cart Sidebar Offsetl End-->
    <!-- Header Start -->
  <header class="header clearfix" style="margin-top: -28px;">
    <div class="top-header-group">
      <div class="top-header">
        <div class="res_main_logo">
          <a href="index.html"><img src="assets/assetssuper/images/logo.png" alt="frutme"></a>
        </div>
        <div class="main_logo" id="logo">
          <a href="index.html"><img src="assets/assetssuper/images/logo.png" alt="frutme"></a>
          <a href="index.html"><img class="logo-inverse" src="assets/assetssuper/images/logo.png" alt="frutme"></a>
        </div>
        <div class="catey__icon" style="margin-right: -27px;margin-left: 100px; ">
          <a href="#" class="cate__btn" data-toggle="modal" data-target="#category_model" title="Categorias">  
            <img src="assets/assetssuper/images/category/icon-1.svg" [hidden]="this._uw.categorySelected!='hortalizas'" alt="frutme" style="width: 45px;">
             <img src="assets/assetssuper/images/category/icon-2.svg" alt="frutme" [hidden]="this._uw.categorySelected!='viveres'"style="width: 45px;">
            <img src="assets/assetssuper/images/category/icon-3.svg" alt="frutme" [hidden]="this._uw.categorySelected!='bebidas'"style="width: 45px;">
            <img src="assets/assetssuper/images/category/icon-11.svg" alt="frutme" [hidden]="this._uw.categorySelected!='panaderia'"style="width: 45px;">
            <img src="assets/assetssuper/images/category/icon-5.svg" alt="frutme" [hidden]="this._uw.categorySelected!='postres'"style="width: 45px;">
            <img src="assets/assetssuper/images/category/icon-6.svg" alt="frutme" [hidden]="this._uw.categorySelected!='limpieza'"style="width: 45px;">
            <img src="assets/assetssuper/images/category/icon-7.svg" alt="frutme" [hidden]="this._uw.categorySelected!='lacteos'"style="width: 45px;">
            <img src="assets/assetssuper/images/category/icon-8.svg" alt="frutme" [hidden]="this._uw.categorySelected!='aseopersonal'"style="width: 45px;">
            <img src="assets/assetssuper/images/category/icon-9.svg" alt="frutme" [hidden]="this._uw.categorySelected!='mascotas'"style="width: 45px;">
            <img src="assets/assetssuper/images/category/icon-10.svg" alt="frutme"[hidden]="this._uw.categorySelected!='carnes'"style="width: 45px;">

          </a>
           <!-- style="padding-left: 41px;font-size: 31px;color: #f55d2c;;" -->
        </div>

        <div class="header_right">

          <ul>
            <li>
              <a href="#" class="offer-link">+58<i class="uil uil-phone-alt"></i>414-752-9202</a>
            </li>
            <li>
              <a href="#" class="category_drop hover-btn" data-toggle="modal" data-target="#category_model" title="Categories">
                <img src="assets/assetssuper/images/category/icon-1.svg" alt="frutme" alt="frutme" [hidden]="this._uw.categorySelected!='hortalizas'"style="width: 30px;">
                 <img src="assets/assetssuper/images/category/icon-2.svg" alt="frutme" [hidden]="this._uw.categorySelected!='viveres'"style="width: 30px;">
                <img src="assets/assetssuper/images/category/icon-3.svg" alt="frutme" [hidden]="this._uw.categorySelected!='bebidas'"style="width: 30px;">
                <img src="assets/assetssuper/images/category/icon-11.svg" alt="frutme" [hidden]="this._uw.categorySelected!='panaderia'"style="width: 30px;">
                <img src="assets/assetssuper/images/category/icon-5.svg" alt="frutme" [hidden]="this._uw.categorySelected!='postres'"style="width: 30px;">
                <img src="assets/assetssuper/images/category/icon-6.svg" alt="frutme" [hidden]="this._uw.categorySelected!='limpieza'"style="width: 30px;">
                <img src="assets/assetssuper/images/category/icon-7.svg" alt="frutme" [hidden]="this._uw.categorySelected!='lacteos'"style="width: 30px;">
                <img src="assets/assetssuper/images/category/icon-8.svg" alt="frutme" [hidden]="this._uw.categorySelected!='aseopersonal'"style="width: 30px;">
                <img src="assets/assetssuper/images/category/icon-9.svg" alt="frutme" [hidden]="this._uw.categorySelected!='mascotas'"style="width: 30px;">
                <img src="assets/assetssuper/images/category/icon-10.svg" alt="frutme"[hidden]="this._uw.categorySelected!='carnes'"style="width: 30px;">



                <span class="cate__icon">Categorías</span></a>
            </li>
            <li>
  
            </li>
             
            <li style="margin-right:  -27px;" class=" pull-bs-canvas-left">
              <a href="#" class="option_links" >
                <i class='uil uil-shopping-cart-alt  ' style="color: #f55d2c;; font-size: 38px;"></i><span class="noti_count1 pull-bs-canvas-left blob" style="background: #059d00;font-size: 14px; z-index:999999999;"  >13</span>
              </a>
      
            </li>  
          
            <li class="ui dropdown" *ngIf="this._uw.info[0]">
              <a href="#" class="opts_account"  [hidden]="this._uw.currency==this._uw.info[0].bs" (click)=setBs()>
                <img src="assets/assetssuper/images/avatar/img-5.jpg" alt="frutme" >
                <span > </span>
                <i class="uil uil-angle-down"></i>
              </a>

              
               <a href="#" class="opts_account"  [hidden]="this._uw.currency==this._uw.info[0].usd " (click)=setUsd()>
                <img src="assets/assetssuper/images/avatar/img-8.jpg" alt="frutme" >
                <span >  </span>
                <i class="uil uil-angle-down"></i>
              </a>



              <div class="menu dropdown_account">
                <div class="night_mode_switch__btn">
                  <a href="#" id="night-mode" class="btn-night-mode">
                    <i class="uil uil-moon"></i> 
                    <span class="btn-night-mode-switch">
                      <span class="uk-switch-button"></span>
                    </span>
                  </a>
                </div>  
                
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sub-header-group">
      <div class="sub-header">
     
      </div>
    </div>
  </header>